body
{
  padding: 0;
  margin: 0;
  font-family: "Helvetica";
}

header
{
  height: 100vh;
}

@font-face 
{
  font-family: 'Helvetica';
  src: url('../font/Helvetica.ttf') format('ttf'), 
}

.navbar 
{
  transition: background-color 0.3s ease;
}

.collant.navbar 
{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f8f9fa; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li>a, .logo
{
  text-transform: uppercase;
}

/*---------- HEADER ----------*/
.background
{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: -1; 
}

canvas
{
  position:absolute;
  text-anchor: middle;
  text-align: center;
}

.dispo
{
  position: relative;
  text-decoration: none;
  top:40%;
  left: 30%;
  padding-left: 2rem;
  padding-right: 2rem;
}

/*Animation Text*/

.ml6 
{
  position: relative;
  font-weight: 900;
  font-size: 0.9rem;
  color:white;
  text-align: center;
  top:40%;
}
  
.ml6 .text-wrapper 
{
  position: relative;
  display: inline-block;
  overflow: hidden;
}
  
.ml6 .letter 
{
  display: inline-block;
  line-height: 1em;
}

/*---------- ABOUT ----------*/

h1
{
  text-align: center;
  font-style: bold;

  margin-bottom: 4rem;
}
.text 
{
  text-align: center;
  
}

#about
{
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f5f5f5;
}

/*---------- SKILLS ----------*/
#skills
{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

i
{
  padding: 2rem;
}

.html
{
  color: #FF5722;
}

.css
{
  color:#1775BB;
}

.js
{
  color:#F0DC4E;
}

.php
{
  color:#787CB4;
}

.bootstrap
{
  color:#573E7E;
}

.angular
{
  color:#C4002B;
}

.symfony
{
  color:#211E22;
}

.col
{
  margin-bottom: 3rem;
}

/*---------- PROJECT ----------*/

#project
{
  background-color: #f5f5f5;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.allCard
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*---------- CONTACT ----------*/

#contact
{
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.address
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.address > div
{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.icons
{
  display: flex;
  justify-content: space-evenly;
}

#contact > h4
{
  text-align: center;
}

/*---------- COPYRIGHT ----------*/

#copyright
{
  text-align: center;
  background-color: black;
  color:white;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px)
{
  .ml6
  {
    font-size: 1.5rem;
  }
  .dispo
  {
    left: 40%;
  }
}

@media screen and (min-width:1024px)
{
  .ml6
  {
    font-size: 2rem;
  }

  .dispo
  {
    left: 46%;
  }
}